.rectangle{
  padding: 15%;

}
#yellow{
  background-color: #fcff33;
}
#purple{
  background-color: #800080;
}
#white{
  background-color: #ffffff;
}
#black{
  background-color: #000000;
}
#green{
  background-color: #008000;
}
#red{
  background-color: #ff0000;
}
#blue{
  background-color: #0000ff;
}
#brown{
  background-color: #8b4513;
}
#lime{
  background-color: #bfff00;
}
#aqua{
  background-color: #00ffff;
}

#rectangleWrapper{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0px;
}
